---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer t6i76o3GwMLkosnpxvpAvRbhIRk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '584.0'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Reset:
      - '5'
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"is_employee": false, "features": {"live_happening_now": true, "adserver_reporting":
        true, "mweb_xpromo_interstitial_fp_v2": {"owner": "channels", "variant": "control_2",
        "experiment_id": 116}, "ads_auto_refund": true, "mweb_xpromo_interstitial_listing_android":
        {"owner": "channels", "variant": "subreddit", "experiment_id": 100}, "mobile_web_targeting":
        true, "ads_auction": true, "adzerk_do_not_track": true, "whitelisted_pms":
        true, "show_rules_on_submit_page": {"owner": "commeng", "variant": "show_3",
        "experiment_id": 119}, "sticky_comments": true, "upgrade_cookies": true, "ads_prefs":
        true, "mweb_xpromo_interstitial_listing_ios": {"owner": "channels", "variant":
        "control_1", "experiment_id": 101}, "legacy_search_pref": true, "orangereds_as_emails":
        true, "mweb_xpromo_transparent_fp": {"owner": "channels", "variant": "control_1",
        "experiment_id": 122}, "mweb_xpromo_interstitial_fp_ios": {"owner": "channels",
        "variant": "control_2", "experiment_id": 99}, "mweb_xpromo_transparent_listing":
        {"owner": "channels", "variant": "control_2", "experiment_id": 121}, "expando_events":
        true, "eu_cookie_policy": true, "utm_comment_links": true, "force_https":
        true, "mobile_native_banner": true, "pokemongo_content": {"owner": "channels",
        "variant": "carousel_bottom", "experiment_id": 47}, "do_not_track": true,
        "outbound_clicktracking": true, "image_uploads": true, "new_loggedin_cache_policy":
        true, "mweb_xpromo_interstitial_listing_v2": {"owner": "channels", "variant":
        "control_1", "experiment_id": 117}, "https_redirect": true, "screenview_events":
        true, "pause_ads": true, "programmatic_ads": true, "give_hsts_grants": true,
        "new_report_dialog": true, "moat_tracking": true, "subreddit_rules": true,
        "mobile_settings": true, "adzerk_reporting_2": true, "activity_service_write":
        true, "ads_auto_extend": true, "interest_targeting": true, "post_embed": true,
        "scroll_events": true, "mweb_xpromo_interstitial_fp_android": {"owner": "channels",
        "variant": "control_1", "experiment_id": 98}, "adblock_test": true, "activity_service_read":
        true}, "is_suspended": false, "gold_expiration": null, "id": "14xd0z", "suspension_expiration_utc":
        null, "over_18": false, "is_gold": false, "is_mod": false, "has_verified_email":
        true, "has_mod_mail": false, "oauth_client_id": "<REDDIT_CLIENT_ID>", "hide_from_robots":
        false, "link_karma": 1, "inbox_count": 0, "has_mail": false, "name": "lt_testing",
        "created": 1485837426.0, "gold_creddits": 0, "created_utc": 1485808626.0,
        "in_beta": false, "comment_karma": 0}'
  recorded_at: Thu, 02 Feb 2017 17:39:55 GMT
recorded_with: VCR 3.0.3
